name: Lint & Typecheck

on:
  push:
    branches: ["**"]

jobs:
  ruff:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        check:
          - name: mypy
            run: uv run mypy
          - name: ruff
            run: rv run ruff check .

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: |
          uv venv --seed .venv
          source .venv/bin/activate
          uv sync --all-groups --all-extras

      - name: Run ${{ matrix.check.name }}
        run: ${{ matrix.check.run }}
