name: Mypy

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [master]

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: |
          uv venv --seed .venv
          source .venv/bin/activate
          uv sync --all-groups --all-extras

      - name: Run Mypy
        run: uv run mypy
